# TODO: use a sealed strategy
AAP_PASS=redhat
ARGOCD_ADMIN_PASS={{ argocd_admin_password }}
SLACK_APP_TOKEN=xapp-1-A04RDSXS8PN-4874090009345-eda960fc55d5af093bfa91de372c5afa84bfc8e40d829e519453271663e43bbd
SLACK_BOT_TOKEN=xoxb-3309059323734-4874088844193-4eUrmZ9n8e9kVE3oap6bgPTA
SLACK_SIGNING_SECRET=29261cd882e1cc9c12cb46a6918b9ff5