apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: stateless-app
  namespace: openshift-gitops
spec:
  generators:
    - git:
        repoURL: http://gitea.{{ ocp_ingress_domain[0] }}/demo/stateless-app.git
        revision: master
        files:
          - path: "destinations/*.json"
  template:
    metadata:
{% raw %}
      name: 'stateless-app-{{ cluster_name }}'
{% endraw %}
      namespace: openshift-gitops  
      labels:
        app-type: managed
    spec:
      project: stateless-app
      source:
        repoURL: http://gitea.{{ ocp_ingress_domain[0] }}/demo/stateless-app.git
{% raw %}
        targetRevision: 'master'
        path: 'deploy'
      destination:
        server: '{{ cluster_url }}'
        namespace: '{{ cluster_namespace }}'
{% endraw %}
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
