apiVersion: batch/v1
kind: Job
metadata:
  name: installplan-approver
  namespace: {{ demo_components_namespace }}
  annotations:
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  template:
    spec:
      containers:
        - image: registry.redhat.io/openshift4/ose-cli:v4.4
          command:
            - /bin/bash
            - -c
            - |
              export HOME=/tmp/approver

              echo "Approving operator install.  Waiting a few seconds to make sure the InstallPlan gets created first."
              sleep $SLEEP
              for subscription in `oc get subscriptions.operators.coreos.com -o jsonpath='{.items[*].metadata.name}'`
              do
                echo "Processing subscription '$subscription'"

                installplan=$(oc get subscriptions.operators.coreos.com --field-selector metadata.name=${subscription} -o jsonpath='{.items[0].status.installPlanRef.name}')

                echo "Check installplan approved status"
                oc get installplan $installplan -o jsonpath="{.spec.approved}"

                if [ "`oc get installplan $installplan -o jsonpath="{.spec.approved}"`" == "false" ]; then

                  echo "Approving Subscription $subscription with install plan $installplan"

                  oc patch installplan $installplan --type=json -p='[{"op":"replace","path": "/spec/approved", "value": true}]'

                else
                  echo "Install Plan '$installplan' already approved"
                fi
              done
          imagePullPolicy: Always
          name: installplan-approver
          env:
            - name: SLEEP
              value: "20"
      dnsPolicy: ClusterFirst
      restartPolicy: OnFailure
      serviceAccount: installplan-approver-job
      serviceAccountName: installplan-approver-job
      terminationGracePeriodSeconds: 30
