apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ansible-automation-platform
  namespace: {{ demo_components_namespace }}
  labels:
    operators.coreos.com/demo-components: ""
spec:
  name: ansible-automation-platform-operator
  channel: stable-2.3
  installPlanApproval: Manual
  source: redhat-operators
  sourceNamespace: openshift-marketplace
